<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>当当网</title>
    <script src="/static/jquery/jquery.1.8.3.min.js"></script>
    <link href="/static/css/shopping_cart_new.css" rel="stylesheet" type="text/css">
	<link href="/static/css/footer_150526.css" rel="stylesheet" type="text/css" />
    <script>
        function logout() {
            $.ajax({
                type:'GET',
                url:"{% url 'userapp:logout' %}",
                success:function (res) {
                    if(res === 'ok'){
                        document.getElementById('nickname').innerHTML =" <span class=\"hi hi_none\">欢迎光临当当，请</span><a href=\"{% url 'userapp:login' %}?current_id=1\" class=\"login_link\">登录</a><a href=\"{% url 'userapp:register' %}?current_id=1\">免费注册</a>";
                    }
                }
            })
        }

        function move_to_cart(book_id,price){
            $.ajax({
                type:"GET",
                url:"{% url 'orderapp:remove_from_cart' %}",
                data:"book_id="+book_id+"&state=1",
                success:function (res) {
                    {#var temp = ($("#total_cost1").text() - price).toFixed(1);#}
                    var temp = res['total_cost'];
                    {#更新总金额#}
                    $("#total_cost1").text(temp);
                    $("#total_cost2").text('￥'+temp);
                    $("#total_cost3").text('￥'+temp);
                    {#将本行移除#}
                    $("#list"+book_id).remove();
                }
            });
        }
        var name_flag = false;var address_flag = false; var zip_flag = false; var phone_flag = false;
        function check_name() {
            if(!$('#txt_name').val())
            {   $("#cue_name").text('姓名不能为空'); $("#cue_name").css('color','red');}
        else{ name_flag = true; $("#cue_name").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">");     }}

        function check_address() {
            {#只需要判断县是否有合法值即可，因为只有省与城市均合法时，县才能勾选#}
            if ($("#town_id").val() === '县') {
                $("#cue_address").text('请先选择收获地区');
                $("#cue_address").css('color', 'red');
                $("#txt_address").val(null);
            } else {
                $("#cue_address").text('请填写收获地址');
                $("#cue_address").css('color', 'black');
                if (!$('#txt_address').val()) {
                    $("#cue_address").text('地址不能为空');
                    $("#cue_address").css('color', 'red');
                }
                else {
                    address_flag = true;
                    $("#cue_address").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">")
                }
            }
        }
        function check_zip() {
            if(!$('#txt_zipcode').val())
            {   $("#cue_zip_code").text('邮编不能为空'); $("#cue_zip_code").css('color','red');}
        else{  zip_flag = true; $("#cue_zip_code").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">")     }}
        function check_phone() {
             if(!$('#txt_phone').val())
            {   $("#cue_phone").text('手机号码不能为空'); $("#cue_phone").css('color','red');}
        else{  phone_flag = true; $("#cue_phone").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">")     }}
         function submit_order(){
                var choice = $("#choice").val();
                if(choice === 'new'){
                    if(name_flag && address_flag && zip_flag && phone_flag)
                    {
                        $.ajax({
                            type:'GET',
                            url:"{% url 'orderapp:check_address' %}",
                            data:'province='+$("#pro_id").val()+'&city='+$("#city_id").val()+"&town="+$("#town_id").val()+'&address='+$('#txt_address').val(),
                            success:function (res) {
                                if(res === 'ok'){
                                $("#my_form").submit();
                                }else{
                                    alert('您输入的地址已经存在，请选择一个新的地址')
                                }
                            }
                        });
                    }
                    else{  alert('请确保输入的信息有效'); }
                }else{
                    location.href ="{% url 'orderapp:location_info' %}?delivery_id="+choice;
                }   }

            eval("(" + xhr.responseText + ")");
        function fill_form(delivery_id) {
            if(delivery_id === 'new'){
                {#将输入框中的值置空，同时移除disabled属性#}
                $('#txt_name').val(null);$('#txt_name').removeAttr('disabled');
                 $("#cue_name").html("请填写收货人姓名");
                $('#txt_address').val(null);$('#txt_address').removeAttr('disabled');
                 $("#cue_address").html("请填写收货地址");
                $("#txt_zipcode").val(null);$('#txt_zipcode').removeAttr('disabled');
                 $("#cue_zip_code").html("请填写邮编");
                $("#txt_phone").val(null);$('#txt_phone').removeAttr('disabled');
                 $("#cue_phone").html("请填写手机号");
                {#$("#txt_telephone").val(null);$('#txt_telephone').removeAttr('disabled');#}
            }else{
                $.ajax({
                    type:'GET',
                    url:"{% url 'orderapp:get_delivery_info' %}",
                    data:'delivery_id='+delivery_id,
                    success:function (res) {
                        $('#txt_name').val(res['name']);$('#txt_name').attr('disabled', 'disabled');
                        $("#cue_name").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">");
                        $('#txt_address').val(res['address']);$('#txt_address').attr('disabled', 'disabled');
                        $("#cue_address").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">");
                        $("#txt_zipcode").val(res['zip_code']);$('#txt_zipcode').attr('disabled', 'disabled');
                        $("#cue_zip_code").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">");
                        $("#txt_phone").val(res['phone']);$('#txt_phone').attr('disabled', 'disabled');
                        $("#cue_phone").html("<img src=\"/static/pics/right_3.jpg\" width=\"20px\">");
                        {#$("#txt_telephone").val(res['telephone']);#}
                        {#$('#txt_telephone').attr('disabled', 'disabled');#}
                    }
                });
            }
        }
             function get_city(id){
                {#省份发生变动，将市与县区的信息同时归为初始状态#}
               $("#city_id").html("<option value=\"城市\">城市</option>");
               $("#town_id").html("<option value=\"县\">县/区</option>");
              var pro_id = $("#"+id).attr('id');
              if(pro_id === 'ProV'){  return;  }
              else{
                  $.ajax({
                  type:'get',
                  url:"{% url 'orderapp:get_city' %}",
                  data:'pro_id='+pro_id,
                  success:function (cities){
                       for(var i=0;i<cities.length;i++){
                      $("#city_id").append('<option id="'+cities[i]['id']+'" value="'+cities[i]["cityname"]+'" >'+cities[i]["cityname"]+'</option>')
                      }
                  }
              })
              }
          }
            function get_town(id) {
             $("#town_id").html("<option value=\"县\">县/区</option>");
              var city_id = $("#"+id).attr('id');
              if(city_id ==="CitY"){    return; }
              else{
                  $.ajax({
                      type:'get',
                      url:"{% url 'orderapp:get_town' %}",
                      data:'city_id='+city_id,
                      success:function (towns){
                          for(var i=0;i<towns.length;i++){
                              $("#town_id").append('<option id="'+towns[i]['id']+'" value="'+towns[i]["townname"]+'" >'+towns[i]["townname"]+'</option>')
                          }
                      }
                  })
              }
          }

    </script>
</head>
<body style="padding-bottom:82px">
<link href="/static/css/header_960_150611.css" rel="stylesheet" type="text/css">
<script src="/static/js/pagetop2015_0827.js" charset="gb2312" type="text/javascript"></script>
<div id="hd">
<div id="tools">
<div class="tools">
    <div class="ddnewhead_operate">
        <div class="ddnewhead_welcome" >
            <span id="nickname">
                 <span class="hi hi_none">欢迎<span> </span>{{ request.session.username }}！</span>
                   <a href="javascript:void(0)" onclick="logout()">【退出登录】</a>
            </span>
        </div>
        <div class="new_head_znx" id="znx_content" style="display:none;"></div>
    </div>
</div>
</div>
<div id="header_end"></div>
<!--CreateDate  2016-09-28 11:30:01--></div>
<form action="#" id="bootpagetopSearch" name="bootpagetopSearch" method="GET"></form>
<script type="text/javascript" src="http://orderb.dangdang.com/queryunpaid?callback=Unpaid_Data"></script>
		<div class="shoppingcart_wrapper" id="ad_cpt_11850">
            <div>
            <a href="javascript:void(0)" target="_blank" rel="nofollow"><img src="http://img62.ddimg.cn/2017/1/11/2017011111344969879.jpg"></a>
            </div>
        </div>
<div class="logo_line">
    <div class="w960">
        <div class="shopping_procedure01 shopping_procedure">
            <span>我的购物车</span><span class="current">填写订单</span><span>完成订单</span>
        </div>
        <div class="logo">
            <a href="javascript:void(0)"><img src="/static/images/bz_logo_car.jpg" alt=""></a>
        </div>
    </div>
</div>
<div class="indent_con">
	<div class="shdz">
    	<h3>收货相关信息</h3>
    <form id='my_form' action="{% url 'orderapp:location_info' %}" method="post">
            {% csrf_token %}
        <ul class="shdz_con">
            <p>▪ 收货地址</p>
            <li>
                <select name="choice" id="choice" onchange="fill_form(this.options[this.selectedIndex].value)">
                    <option value="new">新建</option>
{#                    <option value="1">1111</option>#}
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.address }}</option>
                    {% endfor %}
                </select>
            </li>
        	<li>
                <label><strong>*</strong>收&nbsp;&nbsp;货&nbsp;&nbsp;人：</label>
                <input  type="text" id='txt_name' name="receiver_name" onblur="check_name()" >
                <span id="cue_name" class="hint new_tip" style="display: block;" >请填写收货人姓名</span>

            </li>
            <li>
                <label><strong>*</strong>收货地区：</label>
                <select name="province" id="pro_id" onchange="get_city(this.options[this.selectedIndex].id)">
                    <option value="省" id="ProV">省份</option>
                    {% for pro in province %}
                        <option  id="{{ pro.id }}" value="{{ pro.cityname }}">{{pro.cityname }}</option>
                    {% endfor %}
                </select>
                <select name="city" id="city_id" onchange="get_town(this.options[this.selectedIndex].id)">
                    <option value="市" id="CitY">城市</option>
                </select>
                <select name="town" id="town_id" >
                    <option value="县">县区</option>
                </select>
            </li>
            <li><label><strong>*</strong>详细地址：</label>
                <input type="text" id="txt_address" name="address" onblur="check_address()">
                <span id="cue_address" class="hint new_tip" style="display: block;">请填写收货地址</span>
            </li>
            <li><label><strong>*</strong>邮政编码：</label>
                <input type="text" id='txt_zipcode' name="zip_code"  maxlength="6" onblur="check_zip()">
                <span id="cue_zip_code" class="hint new_tip" style="display: block;">请填写邮编</span>

            </li>
            <li><label><strong>*</strong>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
                <input type="text" id='txt_phone' name="phone" onblur="check_phone()">
                <span id="cue_phone" class="hint new_tip" style="display: block;">请填写手机号</span>
{#                <label>或&nbsp;&nbsp;固定电话</label>#}
{#                <input type="text" id='txt_telephone' name="telephone"  >#}
            </li>
        </ul>
        </form>
        <div class="balance">
            <p>商品金额：¥<span id="total_cost1">{{ total_cost }}</span></p>
            <p class="yfze">应付总额（含运费）：<em id="total_cost2">¥{{ total_cost }}</em></p>

            <p><a href="javascript:void(0)" onclick="submit_order()">提交订单</a></p>
        </div>
    </div>
    <div class="shdz">
    	<h3>订单1（百知网配送）</h3>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr style="height:30px; line-height:30px;">
                <th width="34%">商品名称</th>
                <th width="11%">所在仓库</th>
                <th width="13%">百知价</th>
                <th width="11%">促销价</th>
                <th width="9%">数量</th>
                <th width="11%">小计</th>
                <th width="11%">操作</th>
            </tr>
            {% for item in items %}
            <tr id="list{{ item.book.id }}">
                <td align="center">{{ item.book.book_name }}</td>
                <td align="center">人民出版</td>
                <td align="center">¥{{ item.price }}（ {% widthratio  item.book.dangdang_price item.book.marketing_price  100 %}折）</td>
                <td align="center">--</td>
                <td align="center">{{ item.book_num }}</td>
                <td align="center">¥{{ item.price }}</td>
                <td align="center">
                    <a onclick="move_to_cart({{ item.book.id }},{{ item.price }})" href="javascript:void(0)" >放回购物车</a>
                </td>
            </tr>
             {% endfor %}
             <tr>
                <td colspan="2"><input type="checkbox" >此订单作为礼品赠送他人</td>
                <td colspan="2"><strong>运费：</strong>当确认送货方式后显示</td>
                <td class="table_zj" colspan="3"><strong>小计总额：</strong><em id="total_cost3">¥{{ total_cost }}</em></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{#----------------------------------------------------------------------------------------------------------------------#}
<div id="footer">
<div class="footer">
	<div class="footer_nav_box">
		<div class="footer_copyright">
            <span>Copyright (C) 当当网 2004-2014, All Rights Reserved</span>
            <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001051000098" target="_blank"
               class="footer_img" rel="nofollow">
                <img src="http://img4.dangdang.com/bottom/validate.gif">
            </a>
            <span>
                <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a>
            </span>
            <span>出版物经营许可证&nbsp;新出发京批字第直0673号</span>
        </div>
	</div>
</div>
</div>
    <div class="foot_tip_ad">广告</div>
    <style>
        .foot_tip_ad { width:40px; height:40px; font:12px/40px "simsun"; text-align:center; color:#fff; background-color:#474747; position:fixed; right:0; bottom:10px;_position:absolute; _bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
    </style>
</body>
</html>
