<style>
	.t1{
		text-align: right;
		padding-right: 5px;
		background-color: rgb(230,242,254);
		width: 46%;
		font-size: 12px;
	}
	.t2{
		height: 30px;
		padding-left: 42%;
		
	}
	.t1,.t2{
		height: 30px;
	}
</style>
<table border="1" cellspacing="0" style="width: 100%;border-color:rgba(180,207,207,0.4)">
	<tr>
		<td class="t1">父类名称：</td>
		<td style="padding-left: 4px;"><input id='t_name' type="text" /></td>
	</tr>
	<tr>
		<td class="t2" colspan="2">
			<input type="button" onclick="my_submit()" value="提交" />
			<input type="button" onclick="my_reset()" value="重置"/>
		</td>
	</tr>
</table>
<script src="/static/jquery/jquery.1.8.3.min.js"></script>
<script>
    function my_reset(){
        $("#t_name").val(null);
    }
    function my_submit() {
        var name = $("#t_name").val();
        if(name){
            $.ajax({
               type:'get',
               data:"type_name="+name,
               url:"{% url 'manageapp:add_parent_type_logic' %}",
              success:function (res) {
                if(res ==='ok'){   window.alert('添加成功！') }
                else{   window.alert("该类别已存在！")    }
              }
            });
        }else{
            alert('提交内容不能为空！')
        }
    }
</script>